.card-container {
  display: flex;
  gap: 4px;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

  &[data-completed="true"] {
    background-color: var(--light-surface);
    box-shadow: none;
    opacity: 0.8;
  }

  .card-textarea {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: var(--surface);
    min-height: 26px;
    resize: none;
    margin-top: 8px;
    padding: 4px;
    border-radius: 4px;

    &[data-completed="true"] {
      text-decoration: line-through;
    }

    &:focus {
      border-radius: 4px;
    }

    &:disabled {
      padding: 0;
      background-color: transparent;
    }
  }

  .card-id {
    font-size: 12px;
    color: var(--button);
    font-weight: 600;
    margin: 8px 0;
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--light-gray);

    .card-date {
      font-size: 12px;
    }

    .card-references {
      font-size: 12px;
    }
  }
}

.card-buttons {
  display: flex;
  gap: 4px;
  width: 100%;

  .card-buttons-wrapper {
    width: 100%;
    display: flex;
    gap: 4px;
    width: fit-content;
    margin-left: auto;

    .card-button {
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 12px;
      padding: 2px 6px;
      color: var(--background);
    }

    .complete-button {
      background-color: var(--foreground);

      &[data-complete="true"] {
        background-color: var(--button);
      }
    }

    .edit-button {
      background-color: var(--light-blue);
    }

    .delete-button {
      background-color: var(--light-red);
    }

    &[data-editing="true"] {
      .complete-button {
        display: none;
      }

      .edit-button {
        background-color: var(--dark-green);
      }

      .delete-button {
        background-color: var(--light-gray);
      }
    }
  }

  .reference-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 4px 6px;
    background-color: var(--light-gray);
    color: var(--background);
    cursor: pointer;
    height: 20px;

    &[data-reference="true"] {
      background-color: var(--light-orange);
    }

    span {
      font-size: 10px;
    }
  }
}
