.header-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.header-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  height: 40px;
  &:focus {
    border-color: var(--foreground);
    outline: none;
  }
}

.header-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--foreground);
  color: var(--background);
  height: 40px;
  cursor: pointer;
  &:disabled {
    background-color: var(--border);
    color: var(--background);
  }
}

.references-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  margin-top: 4px;

  .references-title {
    font-size: 12px;
    font-weight: 600;
  }

  .references-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    font-size: 12px;

    .references-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
      border: none;
      border-radius: 5px;
      padding: 4px 8px;
      cursor: pointer;
      font-size: 12px;
      margin-left: auto;
      &:hover {
        background-color: var(--light-gray);
      }
    }
  }
}
